  /* Floating Button */
  .btn-floating-whatsapp {
    position: fixed;
    right: 1.2rem;
    bottom: 1.2rem;
    overflow: hidden;
    z-index: 9999;
    }

    .btn-floating-whatsapp:hover {
      opacity: 90%;
      }

      .btn-floating-qr {
        position: fixed;
        right: 1.2rem;
        bottom: 5rem;
        overflow: hidden;
        z-index: 9999;
        }
    
        .btn-floating-qr:hover {
          opacity: 90%;
          }


/*Scrool Menu*/
.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 45%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-bottom: 0.9rem;
}

.snaps-inline{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 0.9rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.categoria {
color:#00570a;
background-color: #e2fac4;
font-weight: 600;
text-align: center;
font-size: 14px;  
width: auto;
margin: 0.2rem;
border-radius: 20px;
text-decoration: none;
line-height: 2.2em;
}

.bg-green {
background-color: #008e00;
}

.text-green-dark {
  color: #00570a;
}

.bg-green-dark {
  background-color: #005f01;
  
  }

  btn-link-green {
    color: #00570a;
  }
  .bg-green-light {

    background-color: #fafff6;
  }

  .border-green {

    border: 1px solid #b2cb8a;
  }

  .text-primary-green {

    color:#005f01;
    font-weight: 200;
  }

  .btn-primary-green{
    color:#00570a;
    background-color: #e2fac4;
    border-color: none;
    border-radius: 50px;

  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0rem;}